{% extends "layouts/base.html" %}

{% block content %}
<h2>Agregar Estudiante</h2>
<form method="POST" action="{{ url_for('estudiantes_controller.add') }}">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" required>
    </div>
    <div class="mb-3">
        <label for="apellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" name="apellidos" required>
    </div>
    <div class="mb-3">
        <label for="fecha_nacimiento" class="form-label">Fecha Nacimiento</label>
        <input type="date" class="form-control" name="fecha_nacimiento" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}