{% extends "layouts/base.html" %}

{% block content %}
<h2>Agregar Curso</h2>
<form method="POST" action="{{ url_for('cursos_controller.add') }}">
    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <input type="text" class="form-control" name="descripcion" required>
    </div>
    <div class="mb-3">
        <label for="horas" class="form-label">Horas</label>
        <input type="number" class="form-control" name="horas" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}